
<div
  id="canvas"
  style="position:relative; width:800px; height:600px;"
  data-controller="builder"
  data-builder-elements-value="<%= @page.document.to_json %>"
>
  <button type="button" data-action="click->builder#addNode">
    Add node
  </button> 

  <div
    id="contextmenu"
    data-builder-target="menu" 
    style="
      position: absolute;
      display: none;
      background-color: grey;
      z-index: 999;
      display: none;
      padding: 10px 10px 10px 10px;
    "
  >
    <button type="button" data-action="click->builder#removeNode">
      Remove node
    </button>
  </div> 
</div>
